#leaflet-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

html {
  height: 100%;
  width: 100%;
}

html,
.leaflet-container {
  background-color: #22171c !important;
}

div.overlay {
  padding: 3px 6px;
  background-color: #00000033;
  backdrop-filter: blur(2px);
  z-index: 2000;
  text-shadow: 0 0 2px #000;
  color: white;
  position: absolute;
}

div.overlay a {
  color: white;
}

div#inputsWrapper {
  top: 0;
  right: 0;
  width: 165px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-bottom-left-radius: 2px;
}

div#inputsWrapper .inputSeparator {
  height: 8px;
  margin: 0 0 8px !important;
  border-bottom: 1px solid white;
  opacity: 0.3;
}

div#attribution {
  bottom: 0;
  right: 0;
  font-size: 12px;
  display: inline-block;
  border-top-left-radius: 2px;
}

div#inputsWrapper > * {
  margin: 5px 0;
}

div.numberInputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.numberInputWrapper > * {
  display: block;
}

div.numberInputWrapper > input {
  width: 80px;
  margin-left: 10px;
}

button,
input {
  border: none;
  border-radius: 2px;
  padding: 2px;
  background-color: white;
}

button {
  cursor: pointer;
  opacity: 0.9;
}

@media (max-width: 700px) {
  div#ref {
    display: none;
  }
}
