<!doctype html>
<html lang="en" class="blog-post-root">
  <head>
    <meta charset="utf-8" />
    <!-- HTML Meta Tags -->
    <title><%= title %> | Mandelbrot Set Explorer</title>
    <meta name="description" content="<%= description %>" />
    <link rel="canonical" href="https://mandelbrot.site/<%= slug %>" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="<%= title %> | Mandelbrot Set Explorer" />
    <meta itemprop="description" content="<%= description %>" />
    <meta
      itemprop="image"
      content="https://mandelbrot.site/static/site-image.png"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://mandelbrot.site/<%= slug %>" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="<%= title %> | Mandelbrot Set Explorer"
    />
    <meta property="og:description" content="<%= description %>" />
    <meta
      property="og:image"
      content="https://mandelbrot.site/static/site-image.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="<%= title %> | Mandelbrot Set Explorer"
    />
    <meta name="twitter:description" content="<%= description %>" />
    <meta
      name="twitter:image"
      content="https://mandelbrot.site/static/site-image.png"
    />

    <link
      rel="icon"
      type="image/png"
      href="static/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="shortcut icon" href="static/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Mandelbrot" />
    <link rel="manifest" href="site.webmanifest" />

    <meta name="author" content="Ross Hill" />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,viewport-fit=cover"
    />

    <link rel="stylesheet" href="/main.css" />

    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>

  <body class="blog-post">
    <nav>
      <ul>
        <li>
          <h2 class="site-name">Mandelbrot.site</h2>
        </li>
        <li>
          <a href="/">← Back to Fractal Viewer</a>
        </li>
        <li class="topics">
          <strong>Topics</strong>
          <ul>
            <li>
              <a
                href="/how-mandelbrot-site-was-built"
                class="<%= howMandelbrotSiteWasBuiltClass %>"
              >
                How Mandelbrot.site Was Built
              </a>
            </li>
            <li>
              <a
                href="/what-is-mandelbrot-set"
                class="<%= whatIsMandelbrotSetClass %>"
              >
                What Is the Mandelbrot Set?
              </a>
            </li>
            <li>
              <a
                href="/history-of-mandelbrot-set"
                class="<%= historyOfMandelbrotSetClass %>"
              >
                History of the Mandelbrot Set
              </a>
            </li>
            <li>
              <a
                href="/who-was-benoit-mandelbrot"
                class="<%= whoWasBenoitMandelbrotClass %>"
              >
                Who Was Benoit Mandelbrot?
              </a>
            </li>
            <li>
              <a
                href="/why-mandelbrot-set-important"
                class="<%= whyMandelbrotSetImportantClass %>"
              >
                Why the Mandelbrot Set Is Important
              </a>
            </li>
          </ul>
        </li>
        <li class="github">
          <a
            class="github-button"
            href="https://github.com/rosslh/mandelbrot.site"
            data-color-scheme="no-preference: light; light: light; dark: light;"
            data-icon="octicon-star"
            data-size="large"
            data-show-count="true"
            aria-label="Star rosslh/mandelbrot.site on GitHub"
          >
            Star on GitHub
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <div class="blog-content">
        <h1><%= title %></h1>
        <%= content %>
        <div class="bottom-spacer"></div>
      </div>
    </main>
  </body>
</html>
