#leaflet-map {
    height: 100vh;
    width: 100%;
}

body {
    position: relative;
}

div.overlay {
    padding: 3px 6px;
    background-color: #00000033;
    backdrop-filter: blur(2px);
    z-index: 2000;
    text-shadow: 0 0 2px #000;
    color: white;
    position: absolute;
    right: 0;
}

div.overlay a {
    color: white;
}

div#inputsWrapper {
    top: 0;
    width: 185px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border-bottom-left-radius: 2px;
}

div#attribution {
    bottom: 0;
    right: 0;
    font-size: 12px;
    display: flex;
    border-top-left-radius: 2px;
}

div#attribution .pipe {
    color: #ccc;
    margin: 0 4px;
}

div#inputsWrapper > * {
    margin: 5px 0;
}

div.numberInputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.numberInputWrapper > * {
    display: block;
}

div.numberInputWrapper > input {
    width: 100px;
    margin-left: 10px;
}

div#smoothingWrapper {
    display: flex;
    align-items: center;
}

input#smoothing {
    margin-right: 5px;
}

button, input {
    border: none;
    border-radius: 2px;
    padding: 2px;
    background-color: white;
    transition: opacity 0.3s ease;
}

button:not(:hover):not(:active) {
    opacity: 0.8;
}