#leaflet-map {
    height: 100vh;
    width: 100%;
}

body {
    position: relative;
}

div#inputsWrapper {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2000;
    text-shadow: 0 0 2px #000;
    width: 190px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background-color: #00000033;
    backdrop-filter: blur(2px);
    border-bottom-left-radius: 3px;
}

div#inputsWrapper > * {
    margin: 5px 0;
}

div.numberInputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.numberInputWrapper > * {
    display: block;
}

input[type=number] {
    border-color: transparent;
    border-radius: 3px;
    width: 100px;
    padding: 0 4px;
    margin-left: 10px;
}

div#smoothingWrapper {
    display: flex;
    align-items: center;
}

input#smoothing {
    margin-right: 5px;
}

button {
    border: none;
    border-radius: 3px;
    padding: 2px;
}